{% extends 'index.html' %}

{% load static %}

{% block main %} {% endblock %}

{% block below-main %}

    <div class="container-fluid send_message">


                <form action="/sendMessage" method="POST" enctype="" style=" margin-left: 25%; margin-right: 25%; margin-bottom: 30px; background-color: black; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; width: 100%">


                    {% csrf_token %}
                    <h2 style="text-align: center; color: white">MESSAGE US</h2>

                <div style="background-color: white; padding: 40px">
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show mt-2 mb-2" role="alert">
                          {{ message }}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                    {% endfor %}
                    <div class="row form-group">
                    <div class="col-6 col-sm-12 col-md-12">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" class="form-control edit-form-control">
                    </div>
                </div>

                    <div class="row form-group mt-4">
                        <div class="col-6 col-sm-12 col-md-12">
                            <label for="phone">Phone No.</label>
                            <input type="number"  class="form-control edit-form-control" id="phone_no" name="phone_no" maxlength="10" minlength="10">

                        </div>

                    </div>

                    <div class="row form-group mt-4">
                        <div class="col-6 col-sm-12 col-md-12">
                            <label for="subject">Subject</label>
                            <input type="text"  class="form-control edit-form-control" id="subject" name="subject">

                        </div>

                    </div>

                    <div class="row form-group mt-4">
                        <div class="col-6 col-sm-12 col-md-12">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" cols="30" rows="10" class="form-control edit-form-control" placeholder="Your message "></textarea>
                        </div>

                    </div>

                    <div class="row form-group mt-4">
                        <input type="submit" class="btn btn-submit" id="send" name="send" value="SEND">
                    </div>

                </div>
            </form>

    </div>

{% endblock %}

{% block become-seller %}

{% endblock %}