{% extends 'index.html' %}

{% block main %}{% endblock %}

{% block below-main %}
        <div class="container-fluid" style="margin-bottom: 20px">
        <div class="container">

            <form action="/edituser" method="POST" enctype="" style="margin-left: 20%; margin-right: 20%; background-color: black; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                {% csrf_token %}

                <h2 style="text-align: center; color: white">EDIT USER</h2>
            <div style="background-color: white; padding: 50px">
                <div class="row form-group">
                <div class="col-6 col-sm-12 col-md-6">
                    <label for="first-name">First name</label>
                    <input type="text" id="first-name" value="{{ d.fname }}" name="first-name" class="form-control">
                </div>
                <div class="col-6 col-sm-12 col-md-6">
                    <label for="">Other names</label>
                    <input value=" {{ d.onames }}" type="text" id="other-names"  name="other-names" class="form-control">
                </div>
            </div>

                <div class="row form-group mt-4">
                    <div class="col-6 col-sm-12 col-md-6">
                        <label for="tel-no">Phone no.</label>
                        <input value="{{ d.phone }}" type="number" class="form-control" id="tel-no" name="tel-no">

                    </div>
                    <div class="col-6 col-sm-12 col-md-6">
                        <label for="dob">Date of Birth</label>
                        <input value="{{ d.dob }}" type="date" class="form-control" id="dob" name="dob">
                        <span id="error-message" class="error-message"></span>
                    </div>
                </div>

                <div class="row form-group mt-4">
                    <div class="col-6 col-sm-12 col-md-6">
                        <label for="email">Email</label>
                        <input value="{{ d.email }}" type="email" class="form-control" id="email" name="email">

                    </div>
                    <div class="col-6 col-sm-12 col-md-6">
                        <label for="country">Country</label>
                        <select name="country" id="country" class="form-control">
                            <option value="{{ d.country }}">{{ d.country }}</option>
                            <option value="Kenya">Kenya</option>
                            <option value="Tanzania">Tanzania</option>
                            <option value="Uganda">Uganda</option>
                            <option value="Ethiopia">Ethiopia</option>
                        </select>
                    </div>
                </div>

                <div class="row form-group mt-4">
{#                    <div class="col-6 col-sm-12 col-md-6">#}
{#                        <label for="photo">Upload photo (jpg, png)</label>#}
{#                        <input type="file" class="form-control" id="photo" name="photo">#}
{##}
{#                    </div>#}
{#                    <div class="col-6 col-sm-12 col-md-6">#}
{#                        <label for="company-profile">Company profile (pdf)</label>#}
{#                        <input type="file" class="form-control" id="company-profile" name="company-profile">#}
{#                    </div>#}
                </div>

                <div class="row form-group mt-4">
{#                    <div class="col-6 col-sm-12 col-md-6">#}
{#                        <label for="application-letter">Application letter (word)</label>#}
{#                        <input type="file" class="form-control" id="application-letter" name="application-letter">#}
{##}
{#                    </div>#}
                    <div class="col-6 col-sm-12 col-md-6">
                        <label for="gender">Gender</label>
                        <select name="gender" id="gender" class="form-control">
                            <option value="{{ d.gender }}">{{ d.gender }}</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Intersex">Intersex</option>
                        </select>
                    </div>
                </div>

                <div class="row form-group mt-4">
                    <input type="submit" class="btn btn-submit" name="signup" value="UPDATE">
                </div>

            </div>
        </form>
        </div>
    </div>


{% endblock %}

{% block become-seller %}

{% endblock %}