{% extends  'index.html' %}

{% block title %} Login {% endblock %}

{% block main %} {% endblock %}



{% block below-main %}

    <div class="container-fluid" style="">
        <div class="container">

            <form action="" method="" enctype="" style="margin: 20px 25%; background-color: black; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                <h2 style="text-align: center; color: white">LOGIN</h2>
                {% csrf_token %}
            <div style="background-color: white; padding: 50px">
                <div class="row form-group mt-4">
                <div class="col-6 col-sm-12 col-md-12">
                    <label for="login-email">Email</label>
                    <input type="email" id="login-email" name="login-email" class="form-control edit-form-control">
                </div>
            </div>

                <div class="row form-group mt-4">
                    <div class="col-6 col-sm-12 col-md-12">
                        <label for="login-password">Password</label>
                        <input type="password"  class="form-control edit-form-control" id="login-password" name="login-password">

                    </div>

                </div>

                <div class="row form-group mt-4">
                    <input type="submit" class="btn btn-submit" id="login" name="login" value="LOGIN">
                </div>

                <div class="row">
                <div class="mb-3 not-registered">
                <p>Not registered? <a href="{% url 'register' %}">Register now</a></p>

            </div>
            </div>
            </div>
        </form>
        </div>
    </div>

{% endblock %}

{% block become-seller %}

{% endblock %}