
{% extends 'index.html' %}
{% load static %}
{% block title %} Shop {% endblock %}
{% block main %}

{% endblock %}

{% block below-main %}
        <div class="container" style="margin-top: 50px; margin-bottom: 50px">
        <h3 >Find your vehicle</h3>
            <div class="row">
            <div class="col">
              <form class="homepage-search">
                  {% csrf_token %}
                <div class="input-group">
{#                    <label for="make">Choose vehicle make</label>#}
                    <select class="form-control edit-form-control" name="make" id="make" required>
                        <option value="">Choose make</option>
                        <option value="">Mazda</option>
                        <option value="">Toyota</option>
                        <option value="">Mercedes Benz</option>
                        <option value="">Nissan</option>

                    </select>
                    <div class="input-group-append">
{#                        <label for="model">Model</label>#}
                        <select class="form-control edit-form-control" name="model" id="model" required>
                            <option value="">Choose model</option>
                            <option value="">Cx1</option>
                            <option value="">Cx2</option>
                            <option value="">Cx3</option>
                            <option value="">Cx4</option>
                            <option value="">Cx5</option>

                        </select>
                  </div>
                    <div class="input-group-append">
                        <input type="number" name="minyear" id="minyear" placeholder="2016" class="form-control" required>
                  </div>
                    <div class="input-group-append">
                        <input type="number" name="maxyear" id="maxyear" placeholder="2023" class="form-control" required>

                  </div>
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">Search</button>
                  </div>
                </div>
              </form>
            </div>
        </div>

        </div>
{#        Vehicle display starts here#}
        <div class="vehicles container mt-5">
        {% for vehicle in vehicles %}
            <div class="card">
              <img src="/{{vehicle.photo }}" class="card-img-top" alt="{{vehicle.photo }}" style="width: 100%; height: 10rem">
              <div class="card-body">
                <h5 class="card-title">{{ vehicle.make }} {{ vehicle.model }}</h5>
                <hr>
                <p class="card-text">AWD, Leather Seats, Black Interior</p>
                <p class="card-text">Mileage: <b>{{ vehicle.mileage}} Kms </b></p>
                  <p class="card-text">Price: Ksh <b>3,500,000</b></p>
                <a href="{% url 'chekigari:viewvehicle' %}"style="width: 100%" class="btn btn-primary">View details</a>
              </div>
            </div>
        {% endfor %}

    <div class="container mt-5">

    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item active current-page" aria-current="page">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </div>


  </div>
{#        Vehicle display ends here#}


    {% endblock %}