{% extends 'index.html' %}
{% load static %}

{% block main %} {% endblock %}


{% block below-main %}

    <div class="container">


        <form action="{% url 'chekigari:uploadfiles' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

             <div class="row">
        <div class="col-6 col-md-6">
            <label for="">Image</label>
    <input type="file" accept="image/*" name="image" id="image" class="form-control">
    <br>
    <label for="">PDF</label>
    <input type="file" name="file" class="form-control">
        </div>
    </div>
            <input type="submit" value="Submit" class="btn btn-success mt-5">

        </form>


    </div>

    <div class="container">
      <div class="row">

          {% for d in data %}
          <div class="col-md-4">

              <img src="/media/{{ d.image }}" alt="">
              <p>
                  <a target="_blank" href="/media/{{ d.file }}">View file</a>
              </p>

          </div>

          {% endfor %}

      </div>
    </div>

{% endblock %}

{% block become-seller %} {% endblock %}